<div id="cast-page">
    <ol id="vips">
        <% for vip in @vips -%>
            <li>
                <h2 class="vip-letter"><%= vip.letter %></h2>
                <img src="<%= vip.face_src %>">
                <ul>
                    <% for kv in vip.info %>
                        <li><strong><%= kv[:key] %>:</strong> <span class="info-value"><%= kv[:value] %></span></li>
                    <% end -%>
                </ul>
            </li>
        <% end -%>
        <li>
            <h2 class="vip-letter">Raj Tables</h2>
            <ul>
                <% for table in @raj_patrons %>
                    <li><strong>Table <%= table[:table] %>:</strong> <span class="info-value"><%= table[:names].join(', ') %></span></li>
                <% end -%>
            </ul>
        </li>
    </ol>
</div>
