<div id="p-director">
    <h1>Playback Server YO</h1>
    <form>
        <label>
            Performance:
            <select id="performance-select">
                <% for p in @performances -%>
                    <option value="<%= p[:number] %>"
                        <% if p[:number] == @current_performance %>selected<% end %>
                    >
                        <%= p[:number] %>: <%= p[:date] %>
                    </option>
                <% end -%>
            </select>
        </label>
        <span style="margin-left: 2em">Yo Alex: </span>
        <button id="button-a">Button A</button>
        <button id="button-b">Button B</button>
        <button id="button-c">Button C</button>
    </form>
    <section style="clear: both">
        <form id="director-controls-form" class="director-form">
            <label class="pre-show-radio-label">
                <input type="radio" name="director-pre-show-radio" id="pre-show-radio" value="0" <% if !@show_time %>checked<% end %>>
                Pre-show
            </label>
            <label class="pre-show-radio-label">
                <input type="radio" name="director-pre-show-radio" id="show-time-radio" value="1" <% if @show_time %>checked<% end %>>
                Show time
            </label>
            <label class="pre-show-radio-label">
                Debug: <input id="debug-checkbox" type="checkbox" <% if @debug %>checked<% end %>>
            </label>
            <label class="volume-input-label">
                Tablet Volume: <input id="volume-input" type="range" min="0" max="100" value=<%= @volume %>>
            </label>
            <button id="play-timecode-button">Play Timecode</button>
            <button id="stop-tablets-button">Stop Tablets</button>
            <button id="reload-tablets-button">Reload Tablets</button>
        </form>
    </section>

    <section id="director-messages" style="display: none;">
    </section>

    <p><a id="toggle-deets-link" href="#" style="display: none;">toggle deets</a></p>

    <section id="director-deets" class="director-deets--show">
        <table id="tablet-stats">
            <thead>
                <th>tablet</th>
                <th>group</th>
                <th>IP</th>
                <th>build</th>
                <th>http ping</th>
                <th>osc ping</th>
                <th>battery</th>
                <th>clock</th>
                <th>stdev</th>
                <th>cache</th>
                <th>now playing</th>
            </thead>
        </table>

        <form id="assets-form" class="director-form" style="display: none"> <!-- hiding because it's easy to screw something up by accidental editing here -->
            <label>Assets (one per line):
                <textarea name="assets" type="text">
        <% for asset in @assets -%>
<%= asset %>
        <% end -%>
        </textarea>
            </label>
            <p><input type="submit"></p>
        </form>

        <form id="cue-form" class="director-form">
            <label>Cue #: <input list="cue-data-list" name="cue"></label>
            <datalist id="cue-data-list">
                <option value="50 Pre-show">
                <option value="55 Show start">
                <option value="200 Fade to black">
                <option value="500 Ghosting">
                <option value="700 Rix Logo">
                <option value="710 Geek Trio">
                <option value="800 Exterminator">
                <option value="1100 Off the Rails">
                <option value="1200 Product Launch">
            </datalist>
            <input type="submit" value="Start">
        </form>

        <p><a href="/tablet-util/app.apk">Download app.apk</a></p>
    </section>
</div>
